<html>
  <title>
    CYBERPUNK
  </title>
  <body bgcolor="gray" class="centered-wrapper">
    <center>
      <h1>
        HIGH TECH, LOW LIFE
      </h1>
      <form action="/GENERATED" method="post">
        <button class="btn btn-secondary btn-lg btn-block" type="submit">Generate New Image</button>
      </form>
    </center>
    <center>
    <img src="https://cyberpunk-web-app.s3.eu-west-3.amazonaws.com/POST/cyberpunk_SCHEDULED" class="center" width=830 height=830>
    </center>
  </body>
</html>